html, body{
    margin: 0;
    padding: 0;
}

#cover{
    width: 100%;
    height: 710%;
    background: rgba(82, 96, 52, 0.4);
    position: absolute;
}

#first {
    background-image: url("../img/main.jpg");
    height: 130%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#title {
    font-size: 80px;
    letter-spacing: 10px;
    color: white;
    font-weight: bolder;
    position: absolute;
    margin-left: 35%;
    margin-top: 13%;
}

#intro {
    letter-spacing: 5px;
    color: white;
    position: absolute;
    font-size: 24px;
    font-style: italic;
    line-height: 50px;
    margin-left: 35%;
    margin-top: 35%;
}

.green {
    color: #2c6649;
}

.tag {
    width: 54%;
    height: 60%;
    background-color: #333b50;
    box-shadow: 3px 3px 100px 1px rgba(0, 0, 0, 0.3);
    margin: auto;
    position: absolute;
    left: 23%;
    top: 100%;
    background-attachment: scroll;
}

#logo{
    text-align: center;
    padding-left: 45%;
    padding-top: 4%;
    padding-bottom: 4%;
}

#shape_text {
    float: left;
    font-size: 45px;
    margin-top: 2%;
    margin-left: 6%;
    color: #2c6649;
    font-weight: bold;
}

#shape {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    box-shadow: 1px 3px 0 0 #2c6649;
    transform: rotate(-70deg);
}

#explain {
    text-align: center;
    line-height: 40px;
    color: white;
    font-size: 14px;
}

#btn_down {
    background: none;
    border:1px solid #2c6649;
    color: white;
    font-size: 14px;
    padding-top: 1.5%;
    padding-bottom: 1.5%;
    padding-left: 5%;
    padding-right: 5%;
    margin-top: 6%;
    margin-left: 40%;
}

#btn_down:hover{
    animation: delay 2s 0s infinite;
    animation-fill-mode: paused;
}


@keyframes delay {
    from {
        background-color: none;
    } to {
        background-color: #2c6649;
    }
}

#second {
    height: 180%;
    background-image: url("../img/profile.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.list_num {
    font-size: 44px;
    position: absolute;
    color: white;
    margin-top: 34%;
    width: 100%;
    text-align: center;
}

.num {
    letter-spacing: 6px;
    color: #939DAB;
    font-weight: 900;
    font-size: 50px;
}

#add {
    letter-spacing: 5px;
    color: white;
    position: absolute;
    font-size: 24px;
    font-style: italic;
    width: 100%;
    text-align: center;
    margin-top: 40%;
}

#chart {
    position: absolute;
    margin-top: 44%;
    width: 54%;
    margin-left: 20%;
    padding: 1%;
    opacity: 0.7;
}

#chart_title {
    font-size: 14px;
    color: white;
    padding: 1%;
    width: 18%;
    float: left;
}

.title {
    text-align: right;
    margin-top: 20%;
    margin-bottom: 20%;
    letter-spacing: 1px;
}

#chart_bar {
    padding-top: 5%;
    padding-left: 2%;
    padding-bottom: 0.8%;
    float: left;
    width: 77%;
}

.bar {
    height: 14px;
    margin-bottom: 5.35%;
    animation-fill-mode:forwards;
    background-color: #2c6649;
    width: 0px;
}

.value {
    font-size: 14px;
    position: absolute;
    animation-fill-mode: forwards;
    margin-top: -6%;
    color: white;
    opacity: 0;
}

#third {
    background-image: url("../img/strawberry.jpg");
    width: 100%;
    height: 400%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.list_num2 {
    font-size: 44px;
    position: absolute;
    color: white;
    margin-top: 15%;
    width: 100%;
    text-align: center;
}

#add2 {
    letter-spacing: 5px;
    color: white;
    position: absolute;
    font-size: 24px;
    font-style: italic;
    width: 100%;
    text-align: center;
    margin-top: 22%;
    font-weight: bold;
}

#project {
    position: absolute;
    border:1px solid black;
    margin-top: 32%;
}

.pro_box {
    width: 320px;
    height: 320px;
    float: left;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 3px 3px 100px 1px rgba(0, 0, 0, 0.5);
}

.pro_box:hover {
    cursor: pointer;
    animation: shadow 1s 0s;
    animation-fill-mode: forwards;    
}

@keyframes shadow {
    from {
        box-shadow: inset 0px 0px 0px 0px rgba(0, 0, 0, 0.5);
    } to {
        box-shadow: inset 4px 30px 150px 1px rgba(0, 0, 0, 0.5);
    }
}

.list_num3 {
    font-size: 44px;
    position: absolute;
    color: white;
    margin-top: 72%;
    width: 100%;
    text-align: center;
}

#graph {
    position: absolute;
    margin-top: 80%;
    margin-left: 39%;
}

#svg {
    width: 350;
    height: 1115;
}

g {
    fill: transparent;
}

#pointA, #memo1 {
    animation: dots 2s;
    animation-fill-mode: forwards;
}

#pointB {
    animation: dots 2s 0.5s;
    animation-fill-mode: forwards;
}

#pointC {
    animation: dots 2s 1s;
    animation-fill-mode: forwards;
}

#pointD {
    animation: dots 2s 1.5s;
    animation-fill-mode: forwards;
}

#pointE {
    animation: dots 2s 2s;
    animation-fill-mode: forwards;
}

#pointF {
    animation: dots 2s 2.5s;
    animation-fill-mode: forwards;
}

@keyframes dots {
    from {
        fill: transparent;
    } to {
        fill: #2c6649;
    }   
}

#path {
    stroke: transparent;
    animation: path 2s 3s;
    animation-fill-mode: forwards;
}

@keyframes path {
    from {
        stroke: transparent;
    } to {
        stroke: #2c6649;
    }
}

.right {
    position: absolute;
    margin-left: 80%;
    height: 17%;
    width: 90%;
    opacity: 0;
}

@keyframes memo {
    from {
        opacity: 0
    } to {
        opacity: 1
    }
}

#memo1 {
    animation: memo 1s 3s;
    animation-fill-mode: forwards;
}

#memo2 {
    animation: memo 1s 3.5s;
    animation-fill-mode: forwards;
}

#memo3 {
    animation: memo 1s 4s;
    animation-fill-mode: forwards;
}

#memo4 {
    animation: memo 1s 4.5s;
    animation-fill-mode: forwards;
}

#memo5 {
    animation: memo 1s 5s;
    animation-fill-mode: forwards;
}

#memo6 {
    animation: memo 1s 5.5s;
    animation-fill-mode: forwards;
}

.left {
    position: absolute;
    height: 17%;
    width: 90%;
    right: 80%;
    text-align: right;
    opacity: 0;
}

.year {
    color: #2c6649;
    font-weight: bold;
}

.short {
    color: white;
    font-size: 24px;
    font-style: italic;
    margin-top: 3%;
}

.plus {
    color: white;
    font-size: 14px;
    font-weight: bold;
    margin-top: 8%;
}

.memo {
    color: black;
    font-size: 15px;
    margin-top: 2%;
    line-height: 24px;
}